<%- include('header') -%>

    <div class="col-mg-8 furm">
            <div class="form-elem">
                <b>Crop Type :</b>
                <%= soil %> 
                
            </div>

            <div class="form-elem">
                <b>Soil Type :</b>
                <%= crop %> 
            </div>

            <div class="form-elem">
                <b>Moisture Reading From Sensor :</b>
                <%= moist %> 
            </div>
            <div class="form-elem">
                <b>Lower Limit :</b>
                <%= low %> 
            </div>
            <div class="form-elem">
                <b>Higer Limit :</b>
                <%= high %>  
            </div>
            <div class="form-elem">
                <b>Result :</b>
                <%= result %> 
            </div>
            
        </form>
    </div>

    <%- include('footer') -%>